<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.bd_board.mapper.BoardMapper">

    <select id="selectAll" resultType="com.example.bd_board.model.Board">
        SELECT *
        FROM board_db
        WHERE useYN IN ('Y')
        ORDER BY no DESC
    </select>

    <insert id="createBoard" parameterType="com.example.bd_board.model.Board">
        INSERT INTO board_db (title, contents, member_id)
        VALUES (#{title}, #{contents}, #{member_id})
    </insert>
    
    <select id="getBoardByNo" parameterType="com.example.bd_board.model.Board">
        SELECT *
        FROM board_db
        WHERE no = #{no}
    </select>

    <update id="updateBoardByNo" parameterType="com.example.bd_board.model.Board">
        UPDATE board_db
        SET title = #{board.title}, contents = #{board.contents}, member_id = #{board.member_id}
        WHERE no = #{no}
    </update>

    <update id="changeUseYN" parameterType="com.example.bd_board.model.Board">
        UPDATE board_db
        SET useYN = 'N'
        WHERE no = #{no}
    </update>

    <delete id="deleteBoardByNo" parameterType="com.example.bd_board.model.Board">
        DELETE
        FROM board_db
        WHERE no = #{no}
    </delete>

    <select id="searchBoard" resultType="com.example.bd_board.model.Board" parameterType="map">
        <choose>
            <when test="type == 'title'">
                SELECT * FROM board_db WHERE title LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test="type == 'member_id'">
                SELECT * FROM board_db WHERE member_id LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test="type == 'content'">
                SELECT * FROM board_db WHERE contents LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <otherwise>
                SELECT null
            </otherwise>
        </choose>
    </select>

    <insert id="addComment" parameterType="com.example.bd_board.model.Comment">
        INSERT INTO board_comment (bno ,c_contents)
        VALUES (#{bno}, #{comment.c_contents})
    </insert>

    <select id="getComment" resultType="com.example.bd_board.model.Comment" parameterType="map">
        SELECT *
        FROM board_comment
        WHERE bno = #{bno}
    </select>

    <update id="addView" parameterType="com.example.bd_board.model.Board">
        UPDATE board_db
        SET view = view + 1
        WHERE no = #{no}
    </update>

</mapper>