<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.bd_board.mapper.BoardMapper">

    <select id="selectAll" resultType="com.example.bd_board.model.Board">
        SELECT *
        FROM board_db
        WHERE useYN IN ('Y')
        ORDER BY no DESC
    </select>

    <insert id="createBoard" parameterType="com.example.bd_board.model.Board">
        INSERT INTO board_db (title, contents, member_id, fid, fname, fpath)
        VALUES (#{title}, #{contents}, #{member_id},#{fid}, #{fname}, #{fpath});
    </insert>
    
    <select id="getBoardByNo" parameterType="com.example.bd_board.model.Board">
        SELECT *
        FROM board_db
        WHERE no = #{no}
    </select>

<!--    <select id="getBoardByNo" parameterType="com.example.bd_board.model.Board">-->
<!--        <choose>-->
<!--            <when test="fileYN == 'Y'">-->
<!--                SELECT * FROM board_db WHERE useYN IN ('Y') AND no = #{no}-->
<!--            </when>-->
<!--            <when test="fileYN == 'N'">-->
<!--                SELECT * FROM board_db WHERE useYN IN ('Y') AND no = #{no} NOT IN ('fname')-->
<!--            </when>-->
<!--            <otherwise>-->
<!--                SELECT null-->
<!--            </otherwise>-->
<!--        </choose>-->
<!--    </select>-->

    <select id="download" parameterType="com.example.bd_board.model.Board">
        SELECT *
        FROM board_db
        WHERE fid = #{fid}
    </select>

    <update id="deleteFile" parameterType="com.example.bd_board.model.Board">
        UPDATE board_db
        SET fileYN = 'N'
        WHERE fid = #{fid}
    </update>

    <update id="updateBoardByNo" parameterType="com.example.bd_board.model.Board">
        UPDATE board_db
        SET title = #{board.title}, contents = #{board.contents}, member_id = #{board.member_id}, fid = #{board.fid}, fname = #{board.fname}, fpath = #{board.fpath}
        WHERE no = #{no}
    </update>

    <update id="changeUseYN" parameterType="com.example.bd_board.model.Board">
        UPDATE board_db
        SET useYN = 'N'
        WHERE no = #{no}
    </update>

    <delete id="deleteBoardByNo" parameterType="com.example.bd_board.model.Board">
        DELETE
        FROM board_db
        WHERE no = #{no}
    </delete>

    <select id="searchBoard" resultType="com.example.bd_board.model.Board" parameterType="map">
        <choose>
            <when test="type == 'title'">
                SELECT * FROM board_db WHERE title LIKE CONCAT('%', #{keyword}, '%') AND useYN IN ('Y')
            </when>
            <when test="type == 'member_id'">
                SELECT * FROM board_db WHERE member_id LIKE CONCAT('%', #{keyword}, '%') AND useYN IN ('Y')
            </when>
            <when test="type == 'content'">
                SELECT * FROM board_db WHERE contents LIKE CONCAT('%', #{keyword}, '%') AND useYN IN ('Y')
            </when>
            <otherwise>
                SELECT null
            </otherwise>
        </choose>
    </select>

    <insert id="addComment" parameterType="com.example.bd_board.model.Comment">
        INSERT INTO board_comment (bno ,c_contents, c_member_id)
        VALUES (#{bno}, #{comment.c_contents}, #{comment.c_member_id})
    </insert>

    <select id="getComment" resultType="com.example.bd_board.model.Comment" parameterType="map">
        SELECT *
        FROM board_comment
        WHERE bno = #{bno} AND useYN IN ('Y')
    </select>

    <update id="delComment" parameterType="com.example.bd_board.model.Comment">
        UPDATE board_comment
        SET useYN = 'N'
        WHERE cno = #{cno}
    </update>

    <select id="countComment" resultType="Integer">
        SELECT COUNT(*)
        FROM board_comment
        WHERE bno = #{bno} AND useYN IN ('Y')
    </select>

    <update id="addView" parameterType="com.example.bd_board.model.Board">
        UPDATE board_db
        SET view = view + 1
        WHERE no = #{no}
    </update>

    <select id="getTop4Boards">
        SELECT *
        FROM board_db
        WHERE useYN IN ('Y')
        ORDER BY view DESC
        LIMIT 4
    </select>

    <insert id="registerMember" parameterType="com.example.bd_board.model.Member">
        INSERT INTO board_member (uid, uname, upass)
        VALUES (#{uid}, #{uname}, #{upass})
    </insert>

    <select id="getAllMembers">
        SELECT *
        FROM board_member
    </select>

    <select id="login" resultType="com.example.bd_board.model.Member">
        SELECT *
        FROM board_member
        WHERE uid = #{uid} AND upass = #{upass}
    </select>

</mapper>